ul,
li,
a,
p {
    list-style-type: none;
}
.one {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    left: 40%;
    top: 50%;
    margin: -150px 0 0 -100px;
}

.two span{
    margin-right: 70px;
}
.menu{
    border-bottom: 3px solid black;
}
input{
    width: 95%;
    border: 0;
    border-bottom: 1px solid black;
}
.bottom{
    position: absolute;
    bottom: 0;
}
.a{
    position: absolute;
    bottom: 0;
    left: 0;
}
.b{
    position: absolute;
    bottom: 0;
    right: 0;
}